/* body { 
    font-family: "Nunito", sans-serif;
} */
#home {
    background: url(jefferson-santos-fCEJGBzAkrU-unsplash.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #82c0cc;
    
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
    color: #ede7e3;
}

#signup {
    background-color:#ffa62b;
    color:white;
    border-color: #ffa62b;
    
}

#signup:hover {
    background-color: white;
    border-color: #ffa62b;
    color:#ffa62b;
}

.padding { 
    padding: 80px 0;
}

.padding img { 
    width: 100%;
}

#fixed { 
    background: url(joel-wyncott-WYiIkQFclA4-unsplash.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer { 
    width: 100%;
    background-color: #ffd166;
    padding: 5% 5% 10% 5%;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}

.fa:hover {
    text-decoration: none;
    color: black;
}

img {
    min-width: 100%;
}

html, body { 
    height:100%;
    width:100%;
}

.navbar { 
    padding: 25px 80px;
    
}

.invert {
    filter:invert(1);
}

.navbar-brand { 
    padding: 0 15px 5px;
    color: white;
    font-size: 2em;
}

.nav-link {
    color: white;
    font-size: 2em;
}

.active {
    color:white;
}
